:host {
  display: block;
}

.cms-navbar {
  margin-bottom: 0;
  border: 1px solid #adadad;
  border-radius: 0;
  background-color: #f8f8f8;
}

.cms-navbar .navbar-brand {
  font-weight: 600;
  color: #555;
}

.cms-navbar .navbar-nav > li > a {
  color: #555;
}

.cms-navbar .navbar-nav > li > a:hover,
.cms-navbar .navbar-nav > li > a:focus {
  color: #333;
}

.cms-navbar .navbar-toggle {
  border-color: #ddd;
}

.cms-navbar .navbar-toggle .icon-bar {
  background-color: #888;
}
